
.caption{
    padding-right: 5px;
    font-weight: 800;
    display: inline-block;
    padding-left: 50px;
    padding-top: 10px;
}

.textWrapper{
    display: flex;
    align-items: center;
    text-align: center;
}